@import url('root.css');
* {
  padding: 0px;
  margin: 0px;
}
/* компаний ерөнхий танилцуулга */
.yerunhii {
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../baiguullagiin_taniltsuulga/icemarkBaiguullaga.jpg');
  background-position: center, center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}

.yerunhii h2 {
  padding-top:3rem;
  color: var(--huniiNuutsToonMedeelel);
  text-align: center;
  font-size: 4rem;
  font-family: var(--companYerunhiiTaniltsuulagaFont);
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Alsiin_haraa{
  margin-top: 5rem;
  border-radius: 25px;
  background: var(--companYerunhiiTaniltsuulaga);
  padding: 20px;
  width: 180px;
  height: 240px;
  box-shadow: 5px 5px 10px var(--companYerunhiiTaniltsuulagaSuuder);
}


/*hunii nuutsiin heseg*/
.hunii_nuuts {
  margin-top: 5rem;
  width: 100%;
  /*  background-color:var(--huniiNuutsbackground);*/


}

.titleHuniiNuuts {
  color: var(--humanResources1);
}

.hunii_nuuts h2 {

  text-align: center;
  color: var(--humanResources2);
  font-size: 3.5rem;
  font-family: var(--companYerunhiiTaniltsuulagaFont);
}


.huniiNuuts {
  margin-top: rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.person {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  

}

.person h2 {
  width: 90%;
}

.p-line {

  height: 2px;
  background-color: var(--straightLine);
}

.p-line-1 {
  width: 120%;
}



.ajiltan {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.ajiltan>article {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  color: var(--humanResources1);
  font-family: var(--employee);
  font-size: 1.9rem;

}
.ajiltan p {
  color: var(--humanResources2);
  font-size:0.8rem;
}

/* hamt olon*/
.hamtOlon {
  margin-top: 5rem;
  width: 50%;
  padding: 3rem;
  border-radius: 0px 6rem 6rem 0px;
  background-color: #FFFBEC;
  color: var(--humanResources2);
  font-size: 2.5rem;
  padding-left: 5rem;
  display: flex;
  padding-right: 5rem;
  flex-direction: column;
  font-family: var(--companYerunhiiTaniltsuulagaFont);
}
.titleHamtOlon {
  color: var(--humanResources1);
}
.hamtOlon p {
  padding-top:2rem;
  color: var(--opportunitiesText);
  font-size: 1rem;
  font-family: var(--hamtOlonText);
  text-align: justify;

  }

  .HamtOlon_person {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  
  }
  
  .HO h2 {
    width: 90%;
  }
  
  .HO-line {
  
    height: 2px;
    background-color: var(--straightLine);
  }
  
  .HO-line-1 {
    width: 120%;
  }
  

/*Manai baiguullaga*/

.organization {
  margin-top: 2rem;
  width: 50% ;
  padding:5rem ;
  border-radius: 6rem 0rem 0rem 6rem;
  background-color: #FFFBEC;
  color: var(--humanResources2);
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  font-family: var(--companYerunhiiTaniltsuulagaFont); 
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 7rem;
  position: relative;

}


.titlebaiguullaga {
  color: var(--humanResources1);
}

.organization ul {
 
  color: var(--opportunitiesText);
  font-size: 1rem;
  font-family: var(--hamtOlonText);
  text-align: justify;
  padding-top: 2rem;
  display: flex;
  flex-direction: column-reverse;

}



/* baiguullagiin bolomjit heseg */
  .opportunities{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
 
    background-color: #FFFBEC;
  }
  
  .part {
    margin-bottom:2rem;
    margin-top: 2rem;
    border-radius: 3rem;
    background-color:white;
    padding: 2px;
    width: 35rem;
    height: 20rem;
    padding-left:1rem;
    box-shadow: 5px 5px 10px var(--companYerunhiiTaniltsuulagaSuuder);
  }

.part li{
  margin-top:0;
}

.part h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #005CA9;
  text-align: center;
  font-family: var(--companYerunhiiTaniltsuulagaFont);
}

.part ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 3rem;
  padding-top: 1rem;
  margin-right: 2rem;
}

/*songon shalgaruulalt*/
.shalgaruulalt h2{  
  margin-top: 5rem;
  color: var(--humanResources2);
  text-align: center;
  font-size: 3.5rem;
  font-family: var(--companYerunhiiTaniltsuulagaFont);
  flex-direction: column;
}

.titleShalgaruulalt {
  color: var(--humanResources1);
}

.shalgaruulalt h3 {
  margin-top: 2rem;
  color: var(--songonShalgaruulaltH2);
  text-align: center;
  font-size: 2rem;
  flex-direction: 'Inter', sans-serif;
  padding-bottom: 4rem;

}
.shalgaruulalt>article{
  position: relative;
  bottom: 0;
  margin: 1% 0 1% 0;
  height: 80px;
}

.shalgaruulalt>article aside{
  position: absolute;
  top: 0;
  right: 20%;
  left:15%;
}
.images {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 80;
  transform: translateY(-5%);
  margin-left: -1%;
}
.image1{
  background-color: var(--backgroundColorpink);
}
.image2{
  background-color: var(--backgroundColorblue);
}

.img1 {
  margin-left: 1.1rem;
  margin-top: -2rem;

}

.img2 {
  margin-left: 1.6rem;
  margin-top: -2rem;

}

.img3 {
  margin-left: 1.8rem;
  margin-top: -3rem;

}

.selection p {
  transform: translateY(50%);
  padding-left: 5rem;

}

.text {
  position: relative;
  border-radius: 2rem;
  padding: 1.3rem;
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
  
}

.text1 {
  background: var(--backgroundColorblue);
}

.text2 {
  background: var(--backgroundColorpink);
}

/*zah zeeld ezleh huw*/
.titleEzlehHuvi {
  color: var(--humanResources1);
}

.zahZeel h2 {
  margin-top: 2rem;
  color: var(--humanResources2);
  text-align: center;
  font-size: 4rem;
  font-family: var(--companYerunhiiTaniltsuulagaFont);
  padding-bottom: 2rem;
}

.NiitZurag {
  margin: auto;
  margin-left: 6rem;
  aspect-ratio: initial;
  width: 600px;
  height: a;
}
  
  


.NiitZairmag h3 {
  font-family: var(--zahzeeltext);
  color: var(--opportunitiesText);
  text-align: left;
  position: absolute;
  margin-top: -15rem;
  left: 55%;
  padding-left: 7rem;
  padding-right: 10rem;
  font-size: 1.5rem;


}

.NiitZairmag p {
  font-family: var(--zahzeeltext);
  color: var(--opportunitiesText);
  position: absolute;
  margin-top: -10rem;
  left: 55%;
  padding-left: 6rem;
  padding-right: 6rem;
  font-size:1.2rem;

}

/*Тоног төхөөрөмж*/
.Tonog_Tuhuurumj h2 {
  margin-top: 7rem;
  color: var(--humanResources2);
  text-align: center;
  font-size: 4rem;
  font-family: var(--companYerunhiiTaniltsuulagaFont);
  padding-bottom: 3rem;
  
}

.TonogTuhuurumj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 8rem;
  margin-right: 8rem;
}
.Tonog_Tuhuurumj article{
  margin-top: 2rem;
}

.TonogTuhuurumj h3 {
  color: var(--humanResources2);
  font-family: var(--zahzeeltext);
  text-align: center;
  font-size: 1.2rem;
}

.Tonog_Tuhuurumj p {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-bottom:10rem ;
}

.dash{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dash h3 {
  width: 90%;
}
.d-line {
  height: 1.6px;
  background-color: var(--straightLine);
}
.d-line-1 {
  width: 70%;
}

/* компаний ерөнхий танилцуулга */
@media(max-width:1000px){
    .yerunhii h2{
      font-size: calc(1vw + 2rem);
  }
}
@media(max-width:525px){
  .yerunhii h2{
    font-size: calc(1vw + 1rem);
}
}

/*Хүний нөөц*/
@media(max-width:1145px){
  .hunii_nuuts h2{
    font-size: calc(1vw + 2.3rem);
  }
    .p-line-1 {
      width: 80%;}}
@media(max-width:610px){
  .hunii_nuuts h2{
    font-size: calc(1vw + 1.5rem);
  }
    .p-line-1 {
      width: 50%;}}
/*hamt olon & baiguullaga*/
@media(max-width:850px){
  .organization{
    font-size: calc(1vw + 1rem);
  }
  .hamtOlon{
    font-size: calc(1vw + 1rem);
  }
    }
@media(max-width:545px){
  .organization{
    font-size: calc(1vw + 1rem);
  }
  .hamtOlon{
    font-size: calc(1vw + 1rem);
  }
    }
  
@media(max-width:800px){
  .organization{
    padding-left:2.5rem;
    padding-right: 2.5rem;
  }
  .hamtOlon {
    padding-left:2.5rem;
    padding-right: 2.5rem;
  }
  .organization ul{
    font-size: calc(1vw + 0.4rem);
  }
  .hamtOlon p{
    font-size: calc(1vw + 0.4rem);
  }
}
/*baiguullagiin bolomjuud*/
@media(max-width:580px){
  .part h2  {
    font-size: calc(1vw + 0.8rem);
  }
}
@media(max-width:387px){
  .part h2  {
    font-size: calc(1vw + 0.7rem);
  }
}
@media(max-width:800px){
  .part ul {
    font-size: calc(1vw + 0.4rem);
  }
}
/*shalgaruulalt*/

@media(Max-width:448px){
  .shalgaruulalt h3{
      font-size: calc(1vw + 1.1rem);
    }
  }
@media(Max-width:410px){
  .shalgaruulalt h2{
    font-size: calc(1vw + 1rem);
    }
  }
  @media(Max-width:1097px){
    .TEXT p{
          margin-top: -1rem;
      }
    .text{font-size: calc(1vw + 0.3rem);}
      }
    
 /*zah zeel*/
 @media(Max-width:850px){
  .zahZeel h2{
    font-size: calc(1vw + 1rem);
    }
  }
  @media(Max-width:450px){
    .zahZeel h2{
      font-size: calc(1vw + 1rem);
      }
    }
  
    @media(max-width:1276px){
      .NiitZairmag h3{
       
        padding-right: 2rem;
        padding-left: 3rem;
        margin-top:-18rem ;
        }
      
      .NiitZairmag p{
      
        padding-left: 1rem;
        padding-right: 2rem;
        margin-top:-14rem ;
    
      }
      .NiitZurag {
        width: 35rem;
        margin-left:1rem ;
        height: auto;
      }}
      
      @media(max-width:1100px){
        .NiitZairmag h3{
          font-size: calc(1vw + 0.5rem);
          padding-right: 2rem;
          padding-left: 3rem;
          margin-top:-15rem ;
          }
        
        .NiitZairmag p{
          font-size: calc(1vw + 0.3rem);
          padding-left: 1rem;
          padding-right: 2rem;
          margin-top:-12rem;
      
        }
        .NiitZurag {
          width: 30rem;
          margin-left:1rem ;
          height: auto;
        }}

        @media(max-width:885px){
          .NiitZairmag h3{
            font-size: calc(1vw + 0.4rem);
            padding-right: 3rem;
            padding-left: 0.5rem;
            margin-top:-10rem ;
            }
          
          .NiitZairmag p{
            font-size: calc(1vw + 0.2rem);
            padding-left: 0rem;
            padding-right: 2rem;
            margin-top:-7rem ;
        
          }
          .NiitZurag {
            width: 20rem;
            margin-left:1rem ;
            height: auto;
          }}
          
@media(max-width:616px){
.NiitZairmag h3{
  font-size: calc(1vw + 0.4rem);
  padding-right: 3rem;
  padding-left: 0.5rem;
  margin-top:-7.5rem ;
  }

.NiitZairmag p{
  font-size: calc(1vw + 0.2rem);
  padding-left: 0rem;
  padding-right: 2rem;
  margin-top:-5rem ;

}
.NiitZurag {
  width: 15rem;
  margin-left:1rem ;
  height: auto;
}}
@media(max-width:464px){
  .NiitZairmag h3{
    font-size: calc(1vw + 0.2rem);
    padding-right: 3rem;
    padding-left: -1rem;
    margin-top:-5rem ;
    }
  
  .NiitZairmag p{
    font-size: calc(1vw + 0.1rem);
    padding-left: -2rem;
    padding-right: 2rem;
    margin-top:-3.5rem ;

  }
  .NiitZurag {
    width: 10rem;
    margin-left:1rem ;
    height: auto;
  }}
  /*tonog tohooromj*/
   
  @media(max-width:850px){
    .Tonog_Tuhuurumj h2 {
    font-size: calc(1vw + 2rem);
    }
  }   
  @media(max-width:481px){
    .Tonog_Tuhuurumj h2 {
    font-size: calc(1vw + 1.6rem);
    }
   
  } 
  @media(max-width:700px){
    .Tonog_Tuhuurumj p {
    font-size: 0.7rem;
    padding-right: 5%;
    padding-left:5%;
    }}
 

 

 
