@import url('root.css');
*{
    padding: 0px;
    margin:0px;
}
header{
    z-index:1;
}
.bvteegdehvvnii_turul{
    width: 100%;
    position: sticky;
    top:4.7rem;
    z-index: 1;
}

.bvteegdehvvnii_turul ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.7);
    padding: 0.8rem 0 0.7rem 0;
}
.bvteegdehvvnii_turul ul li{
    list-style: none;
 }
.bvteegdehvvnii_turul ul li a{
    text-decoration: none;
    color: var(--texts_color-white);
    font-family: var(--inter);
    font-size: 0.7rem;
}
.line{
    height: 0.07rem;
    width: 0;
    background-color: var(--color-white);
    margin-top: 0.1rem;
}

.bvteegdehvvnii_turul ul li:hover .line{
    width: 100%;
    transition: 0.3s;
}
.turul{
    width: 100%;
    border-bottom:0.1rem solid var(--assistant_color-blue);
}

/*
.turul article{
    padding:2rem;
   
    width: fit-content;
    border-radius: 10rem;
    background-color: black;
    position: relative;
    top:3.2rem;
}
*/
.turul h1{
    color:var(--texts_color-black);
    font-size: 3rem;
    font-family:var(--nunito);
    font-weight: 300;
    margin-left: 7rem;
    background-color: var(--color-white);
    width: fit-content;
    position: relative;
    padding-left:0.3rem ;
    top:0.8rem;
}
.tanilcuulga_icecream{
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 100%;
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    text-align: center;
}


.zairmag .zurag img{
    aspect-ratio: initial;
    width:25rem;
}

.tanilcuulga_icecream .zurag{
    width:var(--shapes_img_bvteegdehvvn_tanilcuulga_width);
    height:var(--shapes_img_bvteegdehvvn_tanilcuulga_width);
    background-color: var(--color-white);
    justify-self: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-bvteegdehvvntanilcuulga-shapes-bordered);
}
.tanilcuulga_icecream .zairmag:nth-child(3n-2) .zurag{
    border-radius:60% 44% 48% 48%;;
}
.tanilcuulga_icecream .zairmag:nth-child(3n-1) .zurag{
    border-radius: 44% 44% 48% 48%;
}
.tanilcuulga_icecream .zairmag:nth-child(3n) .zurag{
    border-radius: 44% 60% 48% 48%;
}
.tanilcuulga_icecream:nth-child(8) .zairmag:nth-child(2) .zurag img{
    position: relative;
    width: auto;
    height: 24.1rem;
    top: 0.6rem;
}
.tanilcuulga_icecream:nth-child(14) .zairmag:nth-child(1) .zurag img{
    width: auto;
    height: 25rem;
}
.tanilcuulga_icecream:nth-child(14) .zairmag:nth-child(2) .zurag img{
   position: relative;
    bottom: 2rem;
    width: 23rem;
}
.tanilcuulga_icecream:nth-child(14) .zairmag:nth-child(4) .zurag img{
    position: relative;
    width: 22.8rem;
 }
 .tanilcuulga_icecream:nth-child(16) .zairmag:nth-child(2) .zurag img{
    width: 29rem;
 }
 .tanilcuulga_icecream:nth-child(18) .zairmag:nth-child(3) .zurag img{
    width: 35rem;
 }
.zairmag>a{
    text-decoration: none;
    display: grid;
    grid-column: 100%;
}
.zairmag h1{
    font-family: var(--bvteegdehvvn_name-style);
    color: var(--bvteegdehvvn_name-color);
    font-size:3rem;
    margin-top: 2rem;
}
.bvteegdehvvn_tailbar{
    width: var(--bvteegdehvvnii_tanilcuulga_article-width);
    color: var(--texts_color-black);
    font-family:var(--nunito);
    font-weight: 100;
    font-size: 1.5rem;
    margin: 1rem auto auto auto;
}
.bvteegdehvvn_tailbar div svg{
    fill:var(--assistant_color_orange);
    width: 12rem;
    height: 2rem;
    position: relative;
    right: 1rem;
    top: 0.62rem;
}
.zairmag:hover .bvteegdehvvn_tailbar div svg{
    left: 2.3rem;
}
.bvteegdehvvn_tailbar div{
    margin-top: 2rem;
    text-align: right;
}

#video iframe{
    aspect-ratio: initial;
}

#play_pause{

    font-size: 4rem;
    color:var(--playbutton_color);
    opacity: 1;
}
#play_pause>i:hover{

    opacity: 0.6;
}




/*bvteegdehvvn tus bvr deeer*/
.bvteegdehvvn_tus{
    margin-left: 20%;
    width: 50rem;
    height: auto;
    padding-bottom:3rem;
    margin-top: 5rem;
    text-align: center;
    border-radius:var(--bvteegdehvvntusbvr_window_border);
    background: var(--bvteegdehvvn_window_linear);
    filter: var(--shadow-bvteegdehvvn-window);
}

.bvteegdehvvn_tus .head{
    width: 100%;
    margin: 0;
}

#x{
    position: relative;
    left: 21rem;
}
#x:hover{
    color: var(--hover_color_grey);
}
.bvteegdehvvn_tus .head{
    width: 100%;
    padding: 3rem 0 0 0;
}
.tus_zurag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 1rem auto;
}


.bvteegdehvvn_tus .frame{
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width:var(--bvteegdehvvn_tusbvr_sizeof_imgs);
    height:var(--bvteegdehvvn_tusbvr_sizeof_imgs);

}
.tus_zurag img{
    aspect-ratio: initial;
    height:102%;
    width: auto;
}
.tus_zurag img:nth-child(n+3){
    display: none;
}
.bvteegdehvvn_tus .frame:nth-child(2){
    position:absolute;
    left: var(--tus_bvteegdehvvn-3_zurag_hoiguuroroh);
    filter: var(--bvteegdehvvn_tus_bvr_shadow_zah_imgs);
    height: var(--bvteegdehvvn_tus_bvr_window_img_zah);
    opacity:var(--opacity_img_zah);
}
.bvteegdehvvn_tus .frame:nth-child(2) img{
    width:100%; height:auto;
}
.bvteegdehvvn_tus .frame:nth-child(4){
    position: absolute;
    right: var(--tus_bvteegdehvvn-3_zurag_hoiguuroroh);
    filter: var(--bvteegdehvvn_tus_bvr_shadow_zah_imgs);
    height: var(--bvteegdehvvn_tus_bvr_window_img_zah);
    opacity: var(--opacity_img_zah);
}
.bvteegdehvvn_tus .frame:nth-child(4) img{
    width:100%; height:auto;
}

.bvteegdehvvn_tus .frame:nth-child(3){
    z-index: 1;
    filter: var(--bvteegdehvvn_tus_bvr_shadow_gol_imgs);
}


.left{
    font-size: 3rem;
    color: var(--color-white);
    position: absolute;
    left: 8rem;
    z-index: 1;
}
.right{
    font-size: 3rem;
    color: var(--color-white);
    position: absolute;
    right: 8rem;
    z-index: 1;
}
.right:hover,.left:hover{
    color: var(--hover_color_grey);
}


/*bvteegdehvvn tyus bvr deerhi window foot heseg*/
.foot{
    margin-top: 2rem;
}
.foot h1{
    color: var(--bvteegdehvvn_name-color);
    font-family:var(--bvteegdehvvn_name-style);
    font-size: 2rem;
    font-weight: 500;    
}
.foot>hr{
    color: var(--bvteegdehvvn_name-color);
    background-color:var(--bvteegdehvvn_name-color);
    height: 1px;
    margin:0 var(--bvteegdehvvn_window_margins) 2rem var(--bvteegdehvvn_window_margins);
}

.contain_turlvvd_window{
     font-family:var(--inter);
     display: flex;
     flex-direction: row;
     margin: 0 var(--bvteegdehvvn_window_margins);
     justify-content: space-between;
     align-items: flex-start;
}
.contain_turlvvd_window ul{
     display: flex;
     flex-direction: row-reverse;
     flex-wrap: wrap;
     max-width: 36rem;
}
.contain_turlvvd_window ul li{
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
.contain_turlvvd_window ul li:nth-child(1){
    padding-right: 0;
}
.contain_turlvvd_window ul li:nth-last-child(1){
border-left: none;
padding-left: 0;
}


.contain_turlvvd_window ul li{
    border-left:2px solid var(--bvteegdehvvn_name-color);
    font-size: var(--fontsize_bvteegdehvvntusbvr_window);
    font-family:var(--inter);
}

.contain_turlvvd_window ul li:hover{
    color: var(--assistant_color_orange);
}

.contain_turlvvd_window h2{
    color:var(--bvteegdehvvn_tus_bvr_window_foot);
    font-size: var(--fontsize_bvteegdehvvntusbvr_window);
}

.tailbar{
    margin: 2rem var(--bvteegdehvvn_window_margins);
    font-size: var(--fontsize_bvteegdehvvntusbvr_window);
    font-family:var(--inter);
}
.bvteegdehvvn_medeelel{
    margin: 0 5rem;
    font-family:var(--inter);
    font-size: var(--bvteegdehvvn_tusbvr_window_foot_medeelel);
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    
}
.bvteegdehvvn_medeelel li{
    list-style: none;
    color:var(--bvteegdehvvn_tus_bvr_window_foot);
    font-weight: 800;
}
.bvteegdehvvn_medeelel li span{
    list-style: none;
    color:var(--texts_color-black);
    font-weight: 200;
}


#mocktail_window{
    background: black;
    border: 0.2rem solid white;
}
#mocktail_window .frame{
    border: 0.1rem solid white;
}
#mocktail_window h1,#mocktail_window .foot h2,#mocktail_window .bvteegdehvvn_medeelel li{
    color:var(--mocktail_color);
}
#mocktail_window .contain_turlvvd_window li,#mocktail_window .tailbar{
    border-color: var(--mocktail_color);
    color: var(--texts_color-white);
}
#mocktail_window .bvteegdehvvn_medeelel li span{
    color: var(--texts_color-white);
}

#mocktail_page{
    overflow: hidden;
}

