@import url('root.css');
*{
    padding: 0px;
    margin:0px;
    cursor: pointer;
    text-align: center;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
body{
    font-size: 1rem;
}
/*sublist css*/
.bvteegdehvvnii_turul{
    /*position ni sticky (bainga neg bair deer baina)*/
    position: sticky;
    z-index: 100;
}
.bvteegdehvvnii_turul ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.7);
    padding: 0.5rem 0 0.5rem 0;
}
.bvteegdehvvnii_turul ul li{
    list-style: none;
 }
.bvteegdehvvnii_turul ul li a{
    color: var(--texts_color-white);
    font:0.7rem var(--inter);
}
.line{
    height: 0.07rem;
    width: 0;
    background-color: var(--color-white);
    margin-top: 0.1rem;
}
/*dooguurhi zuraas ni urt bolno*/
.bvteegdehvvnii_turul ul li:hover .line{
    width: 100%;
    transition: 0.3s;
}
/*page main*/
.turul{
    width: 100%;
    border-bottom:0.1rem solid var(--assistant_color-blue);
}
.turul h1{
    color:var(--texts_color-black);
    font: 300 3rem var(--nunito);
    margin-left: 7rem;
    background-color: var(--color-white);
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    padding-left:0.3rem ;
    top:0.8rem;
}
/*3 baganaas bvteh grid baina*/
.tanilcuulga_icecream{
    margin-bottom: 6rem;
    width: 100%;
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}
/*zairmag tus bvr deer section*/
.zairmag .zurag img{
    aspect-ratio: initial;
    width:25rem;
}
.zairmag{
    padding-top: 6rem;
}
.zairmag>section{
    display: grid;
}
.tanilcuulga_icecream .zurag{
    width:var(--shapes_img_bvteegdehvvn_tanilcuulga_width);
    height:var(--shapes_img_bvteegdehvvn_tanilcuulga_width);
    background-color: var(--color-white);
    justify-self: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-bvteegdehvvntanilcuulga-shapes-bordered);
}
/*zurgiin dvrsiig border ashiglan gargasan*/
.tanilcuulga_icecream .zairmag:nth-child(3n-2) .zurag{
    border-radius:60% 44% 48% 48%;;
}
.tanilcuulga_icecream .zairmag:nth-child(3n-1) .zurag{
    border-radius: 44% 44% 48% 48%;
}
.tanilcuulga_icecream .zairmag:nth-child(3n) .zurag{
    border-radius: 44% 60% 48% 48%;
}
.tanilcuulga_icecream:nth-child(10) .zairmag:nth-child(2) .zurag img{
    position: relative;
    width: auto;
    height: 24.1rem;
    top: 0.6rem;
}
.tanilcuulga_icecream:nth-child(16) .zairmag:nth-child(1) .zurag img{
    width: auto;
    height: 25rem;
}
.tanilcuulga_icecream:nth-child(16) .zairmag:nth-child(2) .zurag img{
   position: relative;
    bottom: 2rem;
    width: 23rem;
}
.tanilcuulga_icecream:nth-child(16) .zairmag:nth-child(4) .zurag img{
    position: relative;
    width: 22.8rem;
 }
 .tanilcuulga_icecream:nth-child(18) .zairmag:nth-child(2) .zurag img{
    width: 29rem;
 }
 .tanilcuulga_icecream:nth-child(20) .zairmag:nth-child(3) .zurag img{
    width: 35rem;
 }
/*zairmagnii garchig*/
.zairmag h1{
    font-family: var(--bvteegdehvvn_name-style);
    color: var(--bvteegdehvvn_name-color);
    font-size:3rem;
    margin-top: 2rem;
}
/*zairmagnii tailbar*/
.bvteegdehvvn_tailbar{
    width: var(--bvteegdehvvnii_tanilcuulga_article-width);
    color: var(--texts_color-black);
    font-family:var(--nunito);
    font-weight: 100;
    font-size: 1.5rem;
    margin: 1rem auto auto auto;
}
/*svg arrow*/
.bvteegdehvvn_tailbar div svg{
    fill:var(--assistant_color_orange);
    width: 12rem;
    height: 2rem;
    position: relative;
    right: 1rem;
    top: 0.62rem;
}
.zairmag:hover .bvteegdehvvn_tailbar div svg{
    left: 2.3rem;
    z-index: -1;
}
.bvteegdehvvn_tailbar div{
    margin-top: 2rem;
    text-align: right;
}






/*bvteegdehvvn tus bvr deeerhi modal*/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    background-color:rgba(7,7,7, 0.9);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
.bvteegdehvvn_tus{
    margin:1% auto;
    width: 60%;
    height: auto;
    padding-bottom:3em;
    border-radius:var(--bvteegdehvvntusbvr_window_border);
    background: var(--bvteegdehvvn_window_linear);
    filter: var(--shadow-bvteegdehvvn-window);
    font-size: 1rem;
    z-index: 101;
}
/*modal-iig haah x heseg*/
.fa-solid{
    width: 100%;
    text-align: right;
    padding-right: 3.5em;
    margin-top: 3em;
}
.fa-solid:hover{
    color: var(--hover_color_grey);
}
.bvteegdehvvn_tus .head{
    width: 100%;
}
.tus_zurag{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-top:19%;
    padding-bottom:19%;
    margin: 1em auto;
}
/*zurguudiig aguulah container*/
.bvteegdehvvn_tus .frame{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    position: absolute;
    /*il haragdahgvi hesgvvd mash jijighen(width 3%), opacity ni 0 baina*/
    width:3%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.tus_zurag img{
    aspect-ratio: initial;
    height:102%;
    width: auto;
}
.tus_zurag img:nth-child(n+3){
    display: none;
}
/*zvvn zahiin zurag*/
.bvteegdehvvn_tus .frame-1{
    transform: translateX(var(--tus_bvteegdehvvn-3_zurag_hoiguuroroh));
    filter: var(--bvteegdehvvn_tus_bvr_shadow_zah_imgs);
    width:var(--bvteegdehvvn_tus_bvr_window_img_zah_width);
    opacity:var(--opacity_img_zah);
}
/*baruun zahiin zurag*/
.bvteegdehvvn_tus .frame-3{
    transform: translateX(calc(-1*var(--tus_bvteegdehvvn-3_zurag_hoiguuroroh)));
    filter: var(--bvteegdehvvn_tus_bvr_shadow_zah_imgs);
    width:var(--bvteegdehvvn_tus_bvr_window_img_zah_width);
    opacity: var(--opacity_img_zah);
}
/*goliin zurag*/
.bvteegdehvvn_tus .frame-2{
    z-index: 1;
    filter: var(--bvteegdehvvn_tus_bvr_shadow_gol_imgs);
    width:var(--bvteegdehvvn_tus_bvr_window_img_gol_width);
    opacity: 1;
}
.tus_zurag span{
    font-size: 3.5em;
    color: var(--color-white);
    z-index: 10;
}
/*baruun,zvvn tiish hudulguh arrow-uud*/
.left{
    margin-right:var(--bvteegdehvvn_tus_bvr_window_arrow_margin);
}
.right{
    margin-left:var(--bvteegdehvvn_tus_bvr_window_arrow_margin);
}
.right:hover,.left:hover{
    color: var(--hover_color_grey);
}


/*bvteegdehvvn tyus bvr deerhi window foot heseg*/
.foot{
    margin-top: 2em;
}
.foot h1{
    color: var(--bvteegdehvvn_name-color);
    font-family:var(--bvteegdehvvn_name-style);
    font-size: 2em;
    font-weight: 500;    
}
.foot hr{
    color: var(--bvteegdehvvn_name-color);
    margin:0 var(--bvteegdehvvn_window_margins) 2em var(--bvteegdehvvn_window_margins);
}
/*zairmagnii turlvvdiig aguulah Turul heseg*/
.contain_turlvvd_window{
     font-family:var(--inter);
     display: flex;
     flex-direction: row;
     margin: 0 var(--bvteegdehvvn_window_margins);
     justify-content: space-between;
     align-items: flex-start;
}
.contain_turlvvd_window ul{
     display: flex;
     flex-direction: row-reverse;
     flex-wrap: wrap;
     margin-left:min(2em);
}
.contain_turlvvd_window ul li{
    list-style: none;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.5em;
    border-left:0.1em solid var(--bvteegdehvvn_name-color);
    font-size: var(--fontsize_bvteegdehvvntusbvr_window);
    font-family:var(--inter);
}
.contain_turlvvd_window ul li:nth-child(1){
    padding-right: 0;
}
.contain_turlvvd_window ul li:nth-last-child(1){
    border-left: none;
    padding-left: 0;
}
.contain_turlvvd_window ul li:hover{
    color: var(--assistant_color_orange);
}
.contain_turlvvd_window h2{
    color:var(--bvteegdehvvn_tus_bvr_window_foot);
    font-size: var(--fontsize_bvteegdehvvntusbvr_window);
}
/*modal bvteegdehvvnii tailbar*/
.tailbar{
    margin: 1.5em var(--bvteegdehvvn_window_margins) 0 var(--bvteegdehvvn_window_margins);
    font-size: var(--fontsize_bvteegdehvvntusbvr_window);
    font-family:var(--inter);
}
/*bvteegdehvvnii medeelel brand, jin. hugacaa*/
.bvteegdehvvn_medeelel{
    padding: 1em 5em 0 5em;
    width: 100%;
    font-family:var(--inter);
    font-size: var(--fontsize_bvteegdehvvntusbvr_window);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 100;
}
.bvteegdehvvn_medeelel li{
    margin-top: 1em;
    list-style: none;
    color:var(--bvteegdehvvn_tus_bvr_window_foot);
    font-weight: 800;
}

.bvteegdehvvn_medeelel li span{
    list-style: none;
    color:var(--texts_color-black);
    font-weight: 200;
}

/*mocktail id's window and modal*/
#mocktail_window{
    color:var(--color-white);
}
#mocktail_window{
    background:var(--texts_color-black);
    border: 0.1em solid var(--color-white);
}
/*mocktail brandiin hesgiin zairmagnii ner tailbar zereg ni oor ungutei baina*/
#mocktail_window h1,#mocktail_window .foot h2,#mocktail_window .bvteegdehvvn_medeelel li{
    color:var(--mocktail_color);
}
#mocktail_window .contain_turlvvd_window li,#mocktail_window .tailbar{
    border-color: var(--mocktail_color);
    color: var(--texts_color-white);
}
#mocktail_window .bvteegdehvvn_medeelel li span{
    color: var(--texts_color-white);
}

/*background zurag*/
#mocktail_page{
background-image: linear-gradient(to right, rgba(0,0,0, 0.8), rgba(0,0,0,0.8)),url("../pictures_bvteegdehvvniitanilcuulga/BACK_MOCKTAIL.webp");
background-size: cover, auto 100%;
background-position: center, center;
background-repeat: no-repeat, repeat;
margin: 0rem 0rem -4.2rem 0rem;
padding: 8rem 0rem 9rem 0rem;

}
/*mockatail-iin deeer, door baigaa turul*/
#section4,#section5{
    border-bottom: 0;
}
#section4 h1, #section5 h1{
   border-radius: 2rem;
   padding-left: 1rem;
   padding-right: 1rem;
}
#section5 h1{
    top:2.5rem;
}
#Mocktail_h1{
    color: var(--mocktail_color);
}
#mocktail_foot span{
    color: var(--texts_color-white);
}
/*mocktail window arrow*/
#mocktail_foot svg{
    fill: var(--mocktail_color);
    z-index: 10;
}
#mocktail_foot em{
    color: var(--texts_color-white);
}

@media(max-width: 1300px){
    /*rem ni root buyu html font size-aas hamaardag, hemjeegee rem-eer ugsnuur
    zovhon html ffont size-iig solihod l hangalttai*/
    html{
        font-size: 70%;
    }
}
@media(max-width: 1160px){
    /*header heseg ni em buyuu body font size-aas hamaarna header-iig tomosgov*/
    body{
        font-size: 120%;
    }
    /*sub list-iin elementvvdiin hemjee*/
    .bvteegdehvvnii_turul ul{
        padding: 0.2rem 0 0.3rem 0;
    }
    .bvteegdehvvnii_turul ul li a{
        font-size: 0.6rem;
    }
    .line{
        display: none;
    }
}
/*2 egnee bologhgvi bol bagtahgvi baiv 3 egneenees 2 egnee*/
@media(max-width: 1060px){
    .tanilcuulga_icecream{
        grid-template-columns: calc(100%/2) calc(100%/2);
    }  
    /*modal urgun*/ 
    .bvteegdehvvn_tus{
        width: 70%;
    }
}

@media(max-width: 750px){
    /*grid 1 baganatai bolno*/
    .tanilcuulga_icecream{
        grid-template-columns:auto;
    }
    /*h1 iig golluulna*/
    .turul h1{
        margin: 0 auto;
    }
    /*modal tailbar dood hesegiin hemjee*/
    .tailbar{
        margin: 1.5em 3em 0 3em;
    }
    .contain_turlvvd_window{
        margin: 0 3em;
   }
   .foot hr{
        color: var(--bvteegdehvvn_name-color);
        margin:0 3em 2em 3em;
    }
    .bvteegdehvvn_medeelel{
        padding: 1em 3em 0 3em;
    }
    .bvteegdehvvn_tus{
        font-size: 70%;
        width: 80%;
    }
    /*bvteegdehvvnii turul sublist mobile deer haragdahgvi baih ystoi*/
    .bvteegdehvvnii_turul{
        display: none;
    } 
    /*modal width*/
    .bvteegdehvvn_tus{
        width: 95%;
    } 
    /*zairmag tus bvriin tsonh buyuu modal-iin hemjeeg tomosgoh*/
    .tus_zurag{
        padding-top:23%;
        padding-bottom:23%;
    }
    .bvteegdehvvn_tus .frame-1{
        transform: translateX(40%);
        width:50%;
    }
    .bvteegdehvvn_tus .frame-3{
        transform: translateX(-40%);
        width:50%;
    }
    .bvteegdehvvn_tus .frame-2{
        width:55%;
    }
    .left{
        margin-right:35%;
    }
    .right{
        margin-left:35%;
    }
}
/*Bvteegdehvvbniii turliig haruulah h1 bagtahgvi baisan*/
@media(max-width: 460px){
    .turul h1{
        font-size: 2rem;
    }
    .bvteegdehvvn_tus{
        font-size: 60%;
    } 
}
/*bvteegdehvvn window-iin brand,jin, hadgalah hugacaag neg murund oruulna*/
@media(max-width: 382px){
    .bvteegdehvvn_medeelel{
        display: block;
    }
    .bvteegdehvvn_medeelel li{
        text-align: left;
    }
}
