@import url('root.css');
*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}


/*loader css*/
#loader{
    background-color: #FFFF;
    height:100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
/*header hesgiin css*/
header{
    width: 100%;
    position: sticky;
    top: 0;
    background:var(--header_footer-linear);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    filter:var(--shadow-header);
}

#list{
    display: none;
}
.logo{
    margin: -0.7rem auto -2rem 2.2rem;
}
.logo img{
    aspect-ratio: initial;
    width: 6rem;
    height: auto;
}
.head_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.head_menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.head_menu ul li{
    list-style: none;
    margin: 0.1rem 3rem 0.1rem 0;
    display: flex;

}
.head_menu ul li a{
    font-family:var(--header_footer_text_style);
    font-size: 1rem;
    text-decoration: none;
    color:var(--texts_color-white);
}

.head_menu ul li:hover{ 
    border-bottom: 0.15rem solid var(--color-white);
    margin-bottom: -0.2rem;
    transition: var(--header_transition);
}
#white{
    background-color:var(--texts_color-white);
    height: 1.1rem;
    width: 0.01rem;
}
.head_menu #world{
    margin-right: 2rem;
    margin-left: 2rem;
    color:var(--texts_color-white);
    font-size: 1.2rem;
}
#world:hover {
    transform: rotate3d(0, 1, 0, 360deg);
    transition: 1.5s ease-in-out;
}




/*footer css*/
footer{
    width: 100%;
}
footer #footer-top-section {
    background: var(--header_footer-linear);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#footer-top-section .address{
    display: flex;
    flex-direction: row;
    margin:3rem auto;
    align-items: center;
} 

#footer-top-section .address ul{
    margin-top: 0.7rem;
    line-height: 1rem;
}

.address i{
    scale:2 2;
    margin-right: 1.8rem;
    color:var(--texts_color-white);
}
.address article ul li{
    list-style: none;
    color:var(--texts_color-white);
    font-family:var(--inter);
    font-style: normal; 
}
.address a{
    text-decoration: none;
}
.address article ul li a{
    text-decoration: none;
    color:var(--texts_color-white);
}
.address article h3{
    color: var(--texts_color-white);
    font-family:var(--inter);
    font-style: normal;
}

.address:hover i{
    color: var(--hover_color_grey);
    transition: 0.5s ease-in-out;
}

.bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: var(--inter);
    font-size: 1rem;
    margin-top: 0.3rem;
}
.bottom a{
    text-decoration: none;
    font-weight:var(--font_weight_lighter);
}
.bottom h4{
    margin-left: 2rem;
    margin-top:0.1rem;
    font-weight:var(--font_weight_lighter);
}
.bottom address{
    margin-right: 2rem;
}
.bottom h4 a{
    color: var(--texts_color-black);
}

.bottom address img{
    color: var(--texts_color-white);
    height: 1.5rem;
    margin-left: -0.5rem;
}
.bottom address a{
    margin-left: 1rem;
}
#opened_list{
    display: none;
    position: sticky;
    top:4.7rem;
    background:var(--open_list-linear);
    width:40%;
    height: auto;
    padding:1em 0;
    float: right;
}
#opened_list ul{
   width: 100%;
}
#opened_list ul li{
    padding:0;
    list-style: none;
    padding: 1em 3em;
    border-bottom: 1px solid var(--color-white);
}
#opened_list ul li a{
    margin-top:0.5em;
    padding:0;
    text-decoration: none;
    font-family:var(--header_footer_text_style);
    font-size: 0.8em;
    color:var(--texts_color-white);
}
#opened_list div{
    margin-top: 1em;
    display: flex;
    align-items: center;
    margin-left: 3em;
}
#opened_list div i{
    font-size: 1em;
    color:var(--texts_color-white);
    margin-right: 1em;
}
#opened_list div p{
    font-size: 0.8em;
    font-family:var(--header_footer_text_style);
    color:var(--texts_color-white);
}
#opened_list div p:hover{
    color: var(--hover_color_orange);
}
#opened_list div:hover #world{
    transform: rotate3d(0, 1, 0, 360deg);
    transition: 1.5s ease-in-out;
}
#opened_list ul li:hover a{
    color: var(--hover_color_orange);
}



@media(max-width: 1220px){
    header{
        padding: 0.5rem 0;
    }
    .logo{
        margin: -0.31rem auto -2rem 2.2rem;
    }
    .logo img{
        width: 4rem;
    }
    .head_menu ul li a{
        font-size: 0.6rem;
    }
    .head_menu ul li{
        list-style: none;
        margin: 0.1rem 1.5rem 0.1rem 0;
    }
    .head_menu ul li:hover{ 
        border-bottom: 0.01rem solid var(--color-white);
        margin-bottom: -0.01rem;
    }
    #white{
        height: 0.5rem;
    }
    .logo img{
        width: 3.5rem;
        height: auto;
    }
    .head_menu #world{
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        font-size: 0.7rem;
    }
}

@media(max-width: 711px){ 
    header{
        padding: 1rem;
    }
    .head_menu{
        display: none;
    }
    .logo{
        margin: -0.4rem auto -2rem 1.6rem;
    }
    .logo img{
        width: 6rem;
    }
    #list{
        display: inline-block;
        color: var(--texts_color-white);
        font-size: 2rem;
        margin-right: 1.2rem;
    }
    #list:hover{
        color:var(--hover_color_grey);
        transition:var(--header_transition);
    }
}


@media(max-width: 850px){
    #footer-top-section{
        padding: 3rem 0;
        justify-content: center;
    }
    #footer-top-section .address{
        width: 55%;
        border-bottom: 0.01px solid white;
        padding-bottom: 4rem;
        margin-top: 1rem;
    }
    /*
    #footer-top-section .address:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .address:nth-child(odd) i{
        margin-right: 0rem;
        margin-left: 1.8rem;
    }
    .address:nth-child(3) i{
       rotate: -90deg;
    }
    .address:nth-child(odd)>article{
        justify-content: right;
        text-align: right;
    }
    */
    .bottom{
        margin: 0;
        display: block;
        text-align: center;
    }
    .bottom address{
        margin: 1rem 0;
    }
    .bottom>h4{
        margin:1rem 0 0 0;
    }

    .bottom address img{
        color: var(--texts_color-white);
        height: 1.5rem;
    }
}
@media(max-width: 600px){
    #opened_list{
     font-size: 60%;
    }
 }
 @media(max-width: 450px){
    #opened_list{
     font-size: 40%;
    }
 }
 @media(max-width: 335px){
    #opened_list{
     font-size: 20%;
    }
    
 }
