
@import url('root.css');
*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}
body{
    height: auto;
}
/* main.css*/
.slider {
    height: var(--slider-height);
}

.slider .mySlides{
    width: var(--width-size);
   height: var(--width-size);
    overflow: hidden;
}
.mySlides  img {
    width: var(--width-size);
   aspect-ratio: initial;
    
}
.mySlides source{
    width: var(--width-size);
    height: var(--width-size);
}
#line{
    width: var(--line-width);
    height: var(--line-height) ;
    background-color: var(--line-color);
}

/* product bar's css*/



.product{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-top: var(--section-product-tmargin);
    margin-bottom: var(--section-product-tmargin);
}
.product a{
    padding: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product .p-art{
    width:12rem;
    height: 12rem;
    overflow: hidden;
    position: relative; 
    border: solid 0px rgb(202, 176, 176);
    border-radius: 44% 44% 48% 48%;
    box-shadow: 0.25rem 0.25rem 0.55rem rgba(0, 0, 0, 0.25);
}
.products{
    width: 100%;
    height: 100%;
    background-color: #F0A178;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .p-art img{
    aspect-ratio: initial;
    height: 100%;
}
.product a:nth-child(1) .products img{
    position: absolute;
    width: 100%;
    height: auto;
    bottom:0px;

}
.product a:nth-child(7) .products img{
    width: 100%;
    height: auto;
}
.product a:nth-child(8) .products img{
    height: 108%;
}
.product a:hover article img{
    transform: scale(1.1,1.1);
    background-position: top ; /* Center the image */
    background-size: 200% 200%; /* Resize the background image to cover the entire container */  
}



.product h2{
    font-size: 1.25rem;
    color: #F0A178;
    line-height: 1.2rem;
    font-family: var(--product-font-family);
    text-align: center;
    font-weight:100;
    margin-top: 1rem;
}

.product h2 span{
    color: var(--line-color);
}
#line{
    width: var(--line-width);
    height: var(--line-height) ;
    background-color: var(--line-color);
}






/*introduction css*/
.intro 
{
    
    
    margin: 2rem 0rem;
}
.intro > article{
    padding: 2rem 3rem;
    
    width: var(--width-size);
    display: grid;
    grid-template-columns: var(--article-grid-columns);
    grid-template-rows:  var(--article-grid-row);
    background-color:var(---intro-article-bgcolor) ;
    z-index: 0;
    padding: var(--article-padding);
}
.intro > article >section{
    position: relative;
    
}
.intro >article >section:nth-child(1){
   padding: 2rem;
    overflow: hidden;
}
.intro >article >section:nth-child(2){
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}
.intro >article >section:nth-child(2) h1{
    font-size: 4rem;
    font-family: var(--intro-h1-ff);
    font-weight: 300;
    
}
.intro >article >section:nth-child(2) h1 span:first-child{
    font-style: italic;
    color: var(  --header_footer-linear);
   
}
.intro >article >section:nth-child(2) h1 span:nth-child(1){
    color: var(--intro-span1);
}
.intro >article >section:nth-child(2) h1 span:nth-child(2){
    color: var( --intro-span2);
}
.intro-doc{
    color: var( --intro-span2);
}
.intro >article >section:nth-child(2) p{
    font-weight: 400;
    margin-top: 2rem;
    line-height: 2rem;
    letter-spacing: 1pt;
    text-align: justify;
    color: var( --color-p);
    font-family: var(--font-family);
}
.intro >article >section:nth-child(2) button{
    color: var(--btn-color);
    display: inline-block;
    font-family: var(--intro-h1-ff);
    font-size: var(--btn-font-size);
    width: var(--btn-width);
   margin-top: var(--margin-top);
    padding: var(--btn-padding);
    background-color:  rgba(8, 25, 119, 0.76);
    border-radius: 1rem;
    border: var(--n-border);
    font-family: var(--font-family);
    transition: all 1s ease-in-out;
}
.intro >article >section:nth-child(2) button:hover{
    transform: scale(1.1,1.1);
    background-color: var(--bg-btncolor);
  
}
.intro img,source {
    width: var(--width-size);
    height: var(--width-size);
    border-radius: 60% 50% 60% 50%;
}



/*news*/
.line{
    width: var(--news-line-width);
    height: var(--line-height) ;
    background-color: var(--line-color);
}
.pre-news {
    margin: var(--pre-news-tmargin) var(--pre-news-rmargin) var(--pre-news-bmargin) var(--pre-news-lmargin);
   
    display: flex;
    flex-direction: row;
   /* height: var(--pre-news-height);*/
    justify-content: center;
 
  
}
.pre-news .news-1{
    color:#0ACDF8;
}
.pre-news .news-2{
    color:orange;
}

.pre-news h1{
    font-size: var(--pn-fsize);
    font-weight:var(--pn-fw) ;   
     font-family: var(--pre-news-ffamily);
    height: var(--width-size);  
    text-align: center;
} 

/*news*/
.news picture{
    width: var(--width-size);
    height: 60%;
}

.news img,source{
    width: var(--width-size);
    height: 70%;
    border-top-left-radius:2rem ;
    border-top-right-radius: 2rem;
}
.news{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: var(--n-height);
}
.news a{
    text-decoration: none;
    margin: var(--n-article-margins);
    width: calc(100% - 4rem);
}
.news article{
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
        border: var(--n-border);
        width: var(--width-size);
         height: var(--n-article-height);
         font-family: var(--font-family);
         box-shadow: var(--news-box-shadow);
         
         }

 section.news a article h2{
    font-family: var(--font-family);
    
    font-weight: 400;
 }
section.news a article .date{
    font-weight: 300;
    
    margin: var(--n-date-margins);
    font-family: var(--font-family);
}
section.news a article h2{
    margin: var(--n-h2-margins);
    font-size: var(--f_size_products);
    color: rgb(31, 28, 28);
}


@media(max-width: 900px){
    #list{
        display: inline-block;
        color: var(--texts_color-white);
        font-size: 1.5rem;
        margin-right: 2.2rem;
    }
    #list:hover{
        color:var(--hover_color_grey);
        transition:var(--header_transition);
    }

    .slider {
        height: var(--slider-heightT);
    }
    .product a{
        z-index: -1;
        display: inline-block;
        width: calc(25% - 4rem);
        margin: var(--product-a-Rmargin);
        height: var(--product-a-height);
        text-decoration: none;
        
    }
    .intro > article{
    
        border-radius: var(--article-border-radius);
        width: var(--width-size);
        display: grid;
        grid-template-columns: var(--article-grid-columns-tablet);

        grid-template-rows: var(--article-grid-row-tablet);

        background-color:var(---intro-article-bgcolor) ;
        z-index: 0;
        padding: var(--article-padding);
    }
  
    .news{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: var(--n-Rheight)
       ;
    }
    .news a:nth-child(3){
        display: none;
    }
    .news a:nth-child(4){
        display: none;
    }
    .news a{
        text-decoration: none;
        margin: var(--n-article-Rmargins);
        width: calc(100% - 6rem);
    }
    .news article{
        overflow: hidden;
        border-radius: 2rem;
            border: var(--n-border);
            width: var(--width-size);
             height: var(--n-article-height);
             font-family: var(--font-family);
             box-shadow: var(--news-box-shadow);
             
             }
    
    

}
@media(max-width: 600px){
    .slider {
        height: var(--slider-heightM);
    }
    .intro > article{
    
        border-radius: var(--article-border-radius);
        width: var(--width-size);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: var(--article-grid-row);
        background-color:var(---intro-article-bgcolor) ;
        z-index: 0;
        padding: var(--article-padding);
    }
   
    .product a{
        z-index: -1;
        display: inline-block;
        width: calc(50% - 4rem);
        margin: var(--product-a-Rmargin);
        height: var(--product-a-height);
        text-decoration: none;
        
    }
    .intro >article >section:nth-child(2) h1{
        font-size: 2rem;
        font-family: var(--intro-h1-ff);
        
        
    }
    .intro >article >section:nth-child(1){
        display: none;
    }
.news{
    display: grid;
    grid-template-columns: 100%;
  
    grid-template-rows: var(--n-Rheight)
    
    var(--n-Rheight);
}
.news a{
    text-decoration: none;
    margin: var(--n-article-Rmargins);
    width: calc(100% - 6rem);
}
.news article{
    overflow: hidden;
    border-radius: 2rem;
    border: var(--n-border);
    width: var(--width-size);
    height: var(--n-article-height);
    font-family: var(--font-family);
    box-shadow: var(--news-box-shadow);        
    }
}
