
@import url('root.css');
*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}
body{
    height: auto;
  
}

/* main.css*/
.slider {
    width: 100%;
    height: var(--slider-height);
    background-color: yellow;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 300%;
    background-color: pink;
    height: 100%;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 1s;
    animation: sliding 10s 1s linear infinite alternate-reverse;
  }
  @keyframes sliding{
    0%{
        left: 0%;
    }
    30%{
        left: 0%;
    }
    35%{
        left: -100%;
    }
    70%{
        left: -100%;
    }
    75%{
        left: -200%;
    }
    100%{
        left: -200%;
    }
  }
  .slide {
    width: 33.33%;
    height: 100%;
    float: left;
   
    position: relative;
  }

 
  .buttons {
    z-index: 2;
    position: relative;
    top: -20px;
  }

.slider-img1{
    background-image: url("../pictures/Home_img.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
   
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.slider-img2{
    background-image: url("../index_pictures/mocky.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    
    
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100% 150%; /* Resize the background image to cover the entire container */
}

.slider-img3{
    background-image: url("../index_pictures/zuv_zairmag.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
   
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    border:1px solid lightgreen;
  }



/* product bar's css*/

.product{
    display: flex;
    justify-content: space-evenly;
   
    flex-wrap:wrap;
  
    margin-bottom: var(--section-product-tmargin);
}
.product a{
    width: calc(12.5% - 1rem);
    height: 13rem;
    margin: 1rem 0.5rem;
    padding: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
   
    
}
.product article.p-art{
 
    width:100%;
    height: 70%;
    overflow: hidden;
    position: relative; 
    border: solid 0px rgb(202, 176, 176);
    border-radius: 44% 44% 48% 48%;
    box-shadow: 0.25rem 0.25rem 0.55rem rgba(0, 0, 0, 0.25);
    transition: all 1s ease;
}
.product a:nth-child(1) article{
    background-image: url("../index_pictures/mello.jpg"); 
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.product a:nth-child(2) article{
    background-image: url("../index_pictures/choco.jpg"); 
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.product a:nth-child(3) article{
    background-image: url("../index_pictures/tus_bambar3.jpg"); 
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.product a:nth-child(4) article{
    background-image: url("../index_pictures/teso_ice.jpg"); 
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.product a:nth-child(5) article{
    background-image: url("../index_pictures/vannila.jpg"); 
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.product a:nth-child(6) article{
    background-image: url("../index_pictures/cake.jpg"); 
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.product a:nth-child(7) article{
    background-image: url("../index_pictures/tus_mock.jpg"); 
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.product a:nth-child(8) article{
    background-image: url("../index_pictures/tus_tunh2.jpg"); 
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 150% 180%; 
}
.product a:nth-child(even) article{
    border-radius:60% 44% 48% 48%;;
}
.product a:nth-child(odd) article{
    border-radius: 44% 60% 48% 48%;
}
.products{
    width: 100%;
    height: 100%;
    background-color: #F0A178;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .p-art img{
  
    aspect-ratio: initial;
    height: 100%;
}
.product a:nth-child(1) .products img{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom:0px;

}
.product a:nth-child(7) .products img{
    width: 100%;
    height: auto;
}
.product a:nth-child(8) .products img{
    height: 108%;
}
.product a:hover article{
    transform:scale(1.1,1.1);
 
}



.product h2{
    font-size: 1.25rem;
    color: #F0A178;
    line-height: 1.2rem;
    font-family: var(--product-font-family);
    text-align: center;
    font-weight:100;
    margin-top: 1rem;
}

.product h2 span{
    color: var(--line-color);
}





/*introduction css*/
.intro 
{
    
    
    margin: 2rem 0rem;
}
.intro > article{
    padding: 2rem 3rem;
    
    width: var(--width-size);
    display: grid;
    grid-template-columns: var(--article-grid-columns);
    grid-template-rows:  var(--article-grid-row);

    background-color:var(--intro-article-bgcolor) ;
    z-index: 0;
    padding: var(--article-padding);
}
.intro > article >section{
    position: relative;
    
}
.intro >article >section:nth-child(1){
   padding: 1rem;
    overflow: hidden;
   
}
.intro img,source {
    width: var(--width-size);
    aspect-ratio: initial;
   
}
.intro-image{
    background-image: url("../pictures/icemark 20logo 202.png"); /* The image used */
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    overflow: hidden;
    width: var(--width-size);
    height:  var(--width-size);
    border-radius: 44% 44% 48% 48%;
}
.intro >article >section:nth-child(2){
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}
.intro >article >section:nth-child(2) h1{
    font-size: 4rem;
    font-family: var(--Comforta-ff);
    font-weight: 300;
    
}
.intro >article >section:nth-child(2) h1 span:first-child{
    font-style: italic;
    color: var(  --header_footer-linear);
   
}
.intro >article >section:nth-child(2) h1 span:nth-child(1){
    color: var(--intro-span1);
}
.intro >article >section:nth-child(2) h1 span:nth-child(2){
    color: var( --intro-span2);
}
.intro-doc{
    color: var( --intro-span1);
}
.intro >article >section:nth-child(2) p{
    font-weight: 800;
    margin-top: 2rem;
    line-height: 2rem;
    letter-spacing: 1pt;
    text-align: justify;
    color: var( --color-p);
    font-family: var(--Mont-family);
}
.intro >article >section:nth-child(2) button{
    color: var(--btn-color);
    display: inline-block;
    font-family: var(--intro-h1-ff);
    font-size: var(--btn-font-size);
    width: var(--btn-width);
   margin-top: var(--margin-top);
    padding: var(--btn-padding);
    background-color:  rgba(00, 00, 00, 0.5);
    border-radius: 1rem;
    border: var(--n-border);
    font-family: var(--font-family);
    transition: all 1s ease-in-out;
}
.intro >article >section:nth-child(2) button:hover{
    transform: scale(1.1,1.1);
    background-color: var(--bg-btncolor);
    color: black;
}





/*news*/
.line{
    width: var(--news-line-width);
    height: var(--line-height) ;
    background-color: var(--line-color);
}
.pre-news {
    margin: var(--pre-news-tmargin) var(--pre-news-rmargin) var(--pre-news-bmargin) var(--pre-news-lmargin);
   
    display: flex;
    flex-direction: row;
   /* height: var(--pre-news-height);*/
    justify-content: center;
 
  
}
.pre-news .news-1{
    color: var(--intro-span1);
}
.pre-news .news-2{
    color:var(--intro-span2);
}

.pre-news h1{

    font-size: var(--pn-fsize);
    font-weight:var(--pn-fw) ;   
     font-family: var(--pre-news-ffamily);
    height: var(--width-size);  
    text-align: center;
} 

/*news*/



.news{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
}
.news a{
    text-decoration: none;
    margin: var(--n-article-margins);
    width: calc(25% - 4rem);
}

.news article{
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
        border: var(--n-border);
        width: var(--width-size);
        height: var(--n-article-height);
         font-family: var(--font-family);
         box-shadow: var(--news-box-shadow);
         display: flex;
         align-items: flex-end;
       
 }
 


   

.news .img-1{
    background-image: url("../index_pictures/news1.png");
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.news .img-2{
    background-image: url("../index_pictures/news2.png ");
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.news .img-3{
    background-image: url("../index_pictures/news3.png");
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.news .img-4{
    background-image: url("../pictures/frame2.jpg");
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

 .news article  .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(25, 83, 241, 0.5);
    color: var(--choice-font-color);
 }
 section.news a article h2{
    font-family:  var(--intro-h1-ff);
    margin: var(--n-h2-margins);
    font-size: var(--f_size_products);
    font-weight: 100;
 }
 .news .icons{
    padding: 0.2rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
 } 
/*section.news a article .date{
    font-weight: 300;
    text-align: right;
    margin: var(--n-date-margins);
    font-family: var(--Jos-family);
}*/


@media(max-width: 900px){
    #list{
        display: inline-block;
        color: var(--texts_color-white);
        font-size: 1.5rem;
        margin-right: 2.2rem;
    }
    #list:hover{
        color:var(--hover_color_grey);
        transition:var(--header_transition);
    }

    .slider {
        height: var(--slider-heightT);
    }
    .mySlides  img {
        width: var(--width-size);
       aspect-ratio: initial;
        
    }
    .product a{
        width: calc(25% - 1rem);
        margin: 1rem 1rem;
        padding: 0;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro > article{
    
       
        width: var(--width-size);
        display: grid;
        grid-template-columns: var(--article-grid-columns-tablet);

        grid-template-rows: var(--article-grid-row-tablet) ;
    
        background-color:var(--intro-article-bgcolor) ;
        z-index: 0;
        padding: var(--article-padding);
    }
    .intro-image{
        
        width: calc(100% - 5rem);
        margin: 0 2.5rem;
        height:  var(--width-size);
        background-size: 100% 100%;
    }
  
    .news a:nth-child(3){
        display: none;
    }
    .news a:nth-child(4){
        display: none;
    }
    .news a{
        text-decoration: none;
        margin: var(--n-article-Rmargins);
        width: calc(50% - 6rem);
    }
    .news article{
   
       
            border: var(--n-border);
            width: var(--width-size);
             height: var(--n-article-height);
             font-family: var(--font-family);
             box-shadow: var(--news-box-shadow);
             
             }
    
    

}
@media(max-width: 600px){
    .slider {
        height: var(--slider-heightM);
    }
   
    .product a{
        z-index: -1;
        display: inline-block;
        width: calc(50% - 2rem);
        margin: var(--product-a-Rmargin);
        height: var(--product-a-height);
        text-decoration: none;
    
    }
    .intro > article{
    
        
        width: var(--width-size);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20rem var(--article-grid-Mrow);
        background-color:var(--intro-article-bgcolor) ;
        z-index: 0;
        padding: var(--article-padding);
    }
    .intro > article > section{
        padding: 0;
    }
    .intro-image{
        
        width: var(--width-size);
       margin: 0;
        height:  var(--width-size);
        background-size: 100% 100%;
    }
    .intro >article >section:nth-child(2) h1{
        font-size: 3rem;
        font-family: var(--intro-h1-ff);
        
        
    }
 
.news{
    display: grid;
    grid-template-columns: 100%;
  
    grid-template-rows: var(--n-Rheight)
    
    var(--n-Rheight);
}
.news a{
    text-decoration: none;
    margin: var(--n-article-Rmargins);
    width: calc(100% - 6rem);
}
.news article{
    overflow: hidden;
    border-radius: 1rem;
    border: var(--n-border);
    width: var(--width-size);
    height: var(--n-article-height);
    font-family: var(--font-family);
    box-shadow: var(--news-box-shadow);
}
}