@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


:root{

/*root font prcentage*/
--root_fontsize:70%;
/*background colors*/
 --header_footer-linear:linear-gradient(90deg, #0ACDF8 0%, #36ACDF 53.93%);
 --open_list-linear:linear-gradient(0deg, #0ACDF8 0%, #36ACDF 53.93%);
--bvteegdehvvn_window_linear:linear-gradient(138.06deg, #F5F5F5 5.93%, rgba(246, 246, 246) 7.9%, rgba(255, 255, 255) 100.35%);
 /*colors*/
--texts_color-white: #FFFFFF; 
--texts_color-black: #000;
--hover_color_grey: rgba(190, 191, 193, 1);
--hover_color_orange:rgba(230, 120, 22, 1);
--assistant_color-blue:#0098DA;
--assistant_color_orange:#FF6C00;
--bvteegdehvvn_name-color:#005CA9;
--mocktail-color: rgba(137, 157, 72, 1);
--color-black:#000;
--color-white: #FFFFFF; 
--playbutton_color:	#778899;
--opacity-black:rgba(0, 0, 0, 0.7);
--bvteegdehvvn_tus_bvr_window_foot:#0078AC;
--mocktail_color:#FEE715FF;
/*fonts styles*/
--header_footer_text_style: 'IBM Plex Sans', sans-serif;
--inter:'Inter', sans-serif;
--bvteegdehvvn_head2_font:'Noto Sans Display', sans-serif;
--nunito: 'Nunito', sans-serif;
--bvteegdehvvn_name-style:'Dangrek', cursive;
/*fonts weight*/
--font_weight_lighter: lighter;
/*transition*/
--header_transition: 0.3s ease-in-out;
