/*dalai*/
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Inter:wght@300&family=Noto+Sans+Display:wght@200&family=Nunito:wght@200;300&family=PT+Sans&family=Raleway:wght@300&display=swap');

/*tsogoo*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Overlock&family=Pattaya&display=swap');
:root{
/*dalai's variable*/

/*root font prcentage*/
--root_fontsize:70%;
/*background colors*/
 --header_footer-linear:linear-gradient(90deg, #0ACDF8 0%, #36ACDF 53.93%);
 --open_list-linear:linear-gradient(0deg, #0ACDF8 0%, #36ACDF 53.93%);
--bvteegdehvvn_window_linear:linear-gradient(138.06deg, #F5F5F5 5.93%, rgba(246, 246, 246) 7.9%, rgba(255, 255, 255) 100.35%);
 /*colors*/
--texts_color-white: #FFFFFF; 
--texts_color-black: #000;
--hover_color_grey: rgba(190, 191, 193, 1);
--hover_color_orange:rgba(230, 120, 22, 1);
--assistant_color-blue:#0098DA;
--assistant_color_orange:#FF6C00;
--bvteegdehvvn_name-color:#005CA9;
--mocktail-color: rgba(137, 157, 72, 1);
--color-black:#000;
--color-white: #FFFFFF; 
--playbutton_color:	#778899;
--opacity-black:rgba(0, 0, 0, 0.7);
--bvteegdehvvn_tus_bvr_window_foot:#0078AC;
--mocktail_color:#FEE715FF;
/*fonts styles*/
--header_footer_text_style: 'PT Sans', sans-serif;
--inter:'Inter', sans-serif;
--bvteegdehvvn_head2_font:'Noto Sans Display', sans-serif;
--nunito: 'Nunito', sans-serif;
--bvteegdehvvn_name-style:'Dangrek', cursive;
--pre-news-ffamily:'Raleway' ,sans-serif;
/*fonts weight*/
--font_weight_lighter: lighter;
/*transition*/
--header_transition: 0.3s ease-in-out;
/*other sizes*/
--bvteegdehvvnii_tanilcuulga_article-width:30rem;
--tus_bvteegdehvvn-3_zurag_hoiguuroroh:50%;
--bvteegdehvvn_window_margins:5em;
--shapes_img_bvteegdehvvn_tanilcuulga_width:22.8rem;
--shapes_img_bvteegdehvvn_tanilcuulga_height:21.2rem;
--bvteegdehvvntusbvr_window_border:15px;
--bvteegdehvvn_tus_bvr_shadow_gol_imgs:drop-shadow(0.5em 0 0.25em rgba(0, 0, 0, 0.25)) drop-shadow(-0.25em 0 0.25em rgba(0, 0, 0, 0.25));
--bvteegdehvvn_tus_bvr_shadow_zah_imgs:drop-shadow(0 0.25em 0.25em rgba(0, 0, 0, 0.25));
--bvteegdehvvn_tus_bvr_window_img_zah_width:38%;
--bvteegdehvvn_tus_bvr_window_img_gol_width:44%;
--bvteegdehvvn_tus_bvr_window_arrow_margin:30%;

/*shadow*/
--shadow-header:drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
--shadow-bvteegdehvvn-window:drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.25));
--shadow-bvteegdehvvntanilcuulga-shapes-bordered:0px 4px 4px rgba(0, 0, 0, 0.4);
/*bvteegdehvvn tus bvr*/
--fontsize_bvteegdehvvntusbvr_window:0.8em;
--bvteegdehvvn_tusbvr_window_foot_medeelel:0.8em;
/*bvteegdehvvn_tus_bvr_window*/
--opacity_img_zah:0.2;
 
 
 
/*tsogoo's variable*/

/*tsogoo's variable*/

/*.slider*/
--slider-height:65vh;
--slider-heightT:20rem;
--slider-heightM:10rem;

--news-line-width:80%;
/*product*/

--products-color:linear-gradient(180deg, #f79c48 0%, #db7f15 53.93%);
--section-product-tpadding: 1rem;
--section-product-tmargin: 1rem;
--product-a-width: 12rem;
--product-a-Rmargin: 1rem 1rem;
--product-a-height:12rem;
/*tsogoo's font family*/


/*section with news class*/
--n-border: solid 0px rgb(71, 69, 69);
--n-height: 22rem;
--n-Rheight: 25rem;
--n-article-height: 18rem;
--n-article-height-1: 11rem;
--n-article-Rheight: 14rem;

--n-article-Rmargins: 2rem 3rem 1.5rem 3rem;
--n-article-margins: 2rem 2rem 2rem 2rem;
--n-date-margins:10px 10px 0 10px ;
--n-h2-margins:5px 10px 10px 10px ;

--news-box-shadow: 0px 8px 8px 0px #c2bfbf;
--f_size_products:  1rem;
--txt-bgcolor:rgba(10, 171, 196, 0.8);
/*intro vars*/


--article-grid-row:30rem;
--article-grid-Mrow:40rem;
--article-grid-columns:60% 40%;
--article-grid-row-tablet:30rem 30rem;
--article-grid-columns-tablet:100%;
/*intro paddings*/
--article-padding:3rem;
--intro-padding: 3rem 5rem 20px 5rem ;
--intro-Rpadding: 2rem 3rem 1rem 3rem ;

--article-border-radius:2rem;
--line-width:100%;
--width-size: 100%;
/*intro heights*/
--height-size: 30rem;
--row-height:12rem;
--icon-height: 60%;
  --line-height:10px;
  /*font size*/
--intro-btn-fsize:1rem;

--intro-btnlp:5%;
--intro-btntp:70%;
--intro-Rbtntp:65%;
--intro-Mbtntp:90%;
/*pre-news*/
 --pre-news-tmargin:3rem;
 --pre-news-rmargin:1rem;
 --pre-news-bmargin:0rem;
 --pre-news-lmargin:1rem;
--pre-news-height: 2rem;

--pn-fsize: 3rem;
--pn-fw: 300;
/*btn width*/
--btn-border: solid 1px rgba(189, 205, 207, 0.8);
--btn-color:rgb(250, 248, 248);
--btn-width:12rem;
--btn-padding:1rem 1rem;
--margin-top:2rem;
--btn-font-size:1rem;
/*font families*/

--intro-h1-ff: 'Overlock', cursive;/*intro h1*/
--intro-p: 'Comfortaa', cursive;
--product-font-family: 'Pattaya', sans-serif;/**/
  /*color*/
--intro-span1:#0078AC;

--intro-span2:#FF6C00;

  --icon-size:7rem;
  --font-size-title: 2rem;
  --font-size-p: 1rem;
  --color-p: #110f0f;
  --article-h1color: rgba(26, 26, 238, 0.918);
--line-color: rgb(235, 149, 20);
--product-hover-color:rgb(235, 210, 173);
--choice-font-color: rgb(250, 248, 248);

--bg-btncolor-2:rgba(204, 189, 170, 0.6);
--bg-btncolor-1:rgba(204, 189, 170, 0.4);


--intro-article-bgcolor:#F8F3F0;
 /*Ariuka*/
/* color*/
--companYerunhiiTaniltsuulaga:#eeeee4;
--companYerunhiiTaniltsuulagaSuuder:rgb(242, 156, 44);
--huniiNuutsbackground:#EFB63F;
--huniiNuutsToonMedeelel:white;
--opportunitiesText:black;
--blue:#0098DA;
--songonShalgaruulaltH2:#40B2E3;
--straightLine:#F10C0C;
--humanResources1:#005CA9;
--humanResources2:#FF6C00;
--backgroundColorpink: #FFECDB;
--backgroundColorblue: #8ECCFF;


/*font family*/
--companYerunhiiTaniltsuulagaFont:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
--hamtOlonFOnt:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
--sobgonShalgaruulalth2:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
--employee:Arial, Helvetica, sans-serif,Bold;
--hamtOlonText:Verdana, Geneva, Tahoma, sans-serif;
--zahzeeltext:cursive;
/*font align*/
--hamtOlonAlign:justify;
/*size*/
--hamtOlonimg:5rem;
--hamtOlonH1top:2rem;
--hamtOlonSize:3.5rem;
--hamtOlon_p_top: -20rem;
--hamtOlon_p_size: 1.3em;
--organizationleft:30rem;

--straightTop:2rem;

}

