/*dalai*/
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Inter:wght@300&family=Noto+Sans+Display:wght@200&family=Nunito:wght@200;300&family=PT+Sans&family=Raleway:wght@300&display=swap');

/*tsogoo*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Overlock&family=Pattaya&display=swap');
:root{
/*dalai's variable*/

/*root font prcentage*/
--root_fontsize:70%;
/*background colors*/
 --header_footer-linear:linear-gradient(90deg, #0ACDF8 0%, #36ACDF 53.93%);
 --open_list-linear:linear-gradient(0deg, #0ACDF8 0%, #36ACDF 53.93%);
--bvteegdehvvn_window_linear:linear-gradient(138.06deg, #F5F5F5 5.93%, rgba(246, 246, 246) 7.9%, rgba(255, 255, 255) 100.35%);
 /*colors*/
--texts_color-white: #FFFFFF; 
--texts_color-black: #000;
--hover_color_grey: rgba(190, 191, 193, 1);
--hover_color_orange:rgba(230, 120, 22, 1);
--assistant_color-blue:#0098DA;
--assistant_color_orange:#FF6C00;
--bvteegdehvvn_name-color:#005CA9;
--mocktail-color: rgba(137, 157, 72, 1);
--color-black:#000;
--color-white: #FFFFFF; 
--playbutton_color:	#778899;
--opacity-black:rgba(0, 0, 0, 0.7);
--bvteegdehvvn_tus_bvr_window_foot:#0078AC;
--mocktail_color:#FEE715FF;
/*fonts styles*/
--header_footer_text_style: 'PT Sans', sans-serif;
--inter:'Inter', sans-serif;
--bvteegdehvvn_head2_font:'Noto Sans Display', sans-serif;
--nunito: 'Nunito', sans-serif;
--bvteegdehvvn_name-style:'Dangrek', cursive;
--pre-news-ffamily:'Raleway' ,sans-serif;
/*fonts weight*/
--font_weight_lighter: lighter;
/*transition*/
--header_transition: 0.3s ease-in-out;
/*other sizes*/
--bvteegdehvvnii_tanilcuulga_article-width:30rem;
--tus_bvteegdehvvn-3_zurag_hoiguuroroh:50%;
--bvteegdehvvn_window_margins:5em;
--shapes_img_bvteegdehvvn_tanilcuulga_width:22.8rem;
--shapes_img_bvteegdehvvn_tanilcuulga_height:21.2rem;
--bvteegdehvvntusbvr_window_border:15px;
--bvteegdehvvn_tus_bvr_shadow_gol_imgs:drop-shadow(0.5em 0 0.25em rgba(0, 0, 0, 0.25)) drop-shadow(-0.25em 0 0.25em rgba(0, 0, 0, 0.25));
--bvteegdehvvn_tus_bvr_shadow_zah_imgs:drop-shadow(0 0.25em 0.25em rgba(0, 0, 0, 0.25));
--bvteegdehvvn_tus_bvr_window_img_zah_width:38%;
--bvteegdehvvn_tus_bvr_window_img_gol_width:44%;
--bvteegdehvvn_tus_bvr_window_arrow_margin:30%;

/*shadow*/
--shadow-header:drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
--shadow-bvteegdehvvn-window:drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.25));
--shadow-bvteegdehvvntanilcuulga-shapes-bordered:0px 4px 4px rgba(0, 0, 0, 0.4);
/*bvteegdehvvn tus bvr*/
--fontsize_bvteegdehvvntusbvr_window:0.8em;
--bvteegdehvvn_tusbvr_window_foot_medeelel:0.8em;
/*bvteegdehvvn_tus_bvr_window*/
--opacity_img_zah:0.2;
 
 
 
/*tsogoo's variable*/

/*tsogoo's variable*/

/*.slider*/
--slider-width:100%;
--slider-height:65vh;
--slider-heightT:20rem;
--slider-heightM:10rem;

--slide-height:100%;
--slide-width:100%;


--news-line-width:80%;


/*.product with section */
--products-color:linear-gradient(180deg, #f79c48 0%, #db7f15 53.93%);
--section-product-tpadding: 1rem;
--section-product-tmargin: 1rem;

     /*a in .product  */
    --product-a-width: 9rem;
    --product-a-height:13rem;

    --product-a-margin: 1rem 0.5rem;
    --product-a-padding: 0;
    --product-a-Rmargin: 1rem 1rem;

    /*article in .product  */
  --product-p-art-width:100%;
  --product-p-art-border-radius:44% 44% 48% 48%;
  --product-p-art-box-shadow:0.25rem 0.25rem 0.55rem rgba(0, 0, 0, 0.25);

    /*h2 in .product  */
    --products-width:100%;
    --product-h2-font-size:1.25rem;
    --product-h2-line-height:1.2rem;
    --product-h2-margin-top:1rem;
    --product-h2-color:#FF6C00;


/*intro vars*/
--intro-margin:2rem 0rem;

     /* direct article in  section.intro */
    --article-width:100%;

    --article-grid-row:30rem;
    --article-grid-Mrow:40rem;
    --article-grid-row-tablet:30rem 30rem;

    --article-grid-columns:60% 40%;
    --article-grid-columns-tablet:100%;

    --intro-article-bgcolor:#F8F3F0;
    --article-padding:3rem;

/* .intro > article > section:nth-child(2)*/



      /*intro-image class*/
      --intro-image-width:32rem;
      --intro-image-height:28rem;
      --intro-border-radius:44% 44% 48% 48%;
         /*For tablet
         */
          --bg-size:100% 100%;
          --intro-image-width-Tablet:25rem;
          --intro-image-height-Tablet: 25rem;
          --intro-image-width-Mobile:18rem;
          --intro-image-height-Mobile: 18rem;
      /*its h1*/
      --h1-font-size:3rem;
      --h1-font-weight:300;

           /*its h1 span:1*/
      
      /*its p*/     
      --p-weight:800;      
      --p-margin-top:2rem;
      --p-line-height:1.5rem;
      --p-letter-spacing:0.6pt;

      /*its button*/
      --btn-border: solid 1px rgba(189, 205, 207, 0.8);
      --btn-width:12rem;
      --btn-padding:1rem 1rem;
      --margin-top:2rem;
      --btn-font-size:1rem;

      --btn-color:rgb(31, 29, 29);
      --bg-btncolor-2:rgba(204, 189, 170, 0.6);
      --bg-btncolor-1:rgba(204, 189, 170, 0.4);

/*pre-news*/
 --pre-news-tmargin:3rem;
 --pre-news-rmargin:1rem;
 --pre-news-bmargin:2rem;
 --pre-news-lmargin:1rem;

--pre-news-height: 2rem;
--pn-fsize: 3rem;
--pn-fw: 300;


/*section.news */


    /*its a-tag*/
    --n-a-width:calc(25% - 4rem);
    --n-a-margins: 2rem;
    --n-a-Rmargins: 2rem 3rem 1.5rem 3rem;



          /*its article*/
          --n-article-Rmargins: 2rem 3rem 1.5rem 3rem;
          --n-box-bradius:0.5rem;
          --n-box-width:100%;
          --n-article-height: 18rem;
          --news-box-shadow: 0px 8px 8px 0px #c2bfbf;
               /*its section.text*/
               --txt-bgcolor:rgba(10, 171, 196, 0.8);
               --news-box-font-color: #FFFFFF;
                   /*its h2*/
                   --n-h2-margins:5px 10px 10px 10px ;
                   --f_size_products:  1rem;
                   --font-weight:600;


--n-article-height-1: 11rem;
--n-article-Rheight: 14rem;
--n-height: 22rem;
--n-Rheight: 25rem;
--n-date-margins:10px 10px 0 10px ;


/*font families*/

--intro-h1-ff: 'Overlock', cursive;/*intro h1*/
--intro-p: 'Comfortaa', cursive;
--product-font-family: 'Pattaya', sans-serif;/**/
  /*color*/

    --intro-span1:#FF6C00;
    --intro-span2: #005CA9;
      --icon-size:7rem;
      --font-size-title: 2rem;
      --font-size-p: 1rem;
      --color-p: #000;
 

 /*Ariuka*/
/*font family*/
--companYerunhiiTaniltsuulagaFont:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
--employee:Arial, Helvetica, sans-serif,Bold;
--hamtOlonText:Verdana, Geneva, Tahoma, sans-serif;
--zahzeeltext:cursive;
/*color*/
--huniiNuutsToonMedeelel:white;
--alsiinHaraa_background:#9f9cc8cd;
--alsiinHaraa_hr_:#f10c0cb3;
--humanResources1:#005CA9;
--humanResources2:#FF6C00;
--straightLine:#F10C0C;
--background_Colorpink:#FFFBEC;
--opportunitiesText:black;
--backgroundColorblue: #8ECCFF;
--backgroundColorpink: #FFECDB;
/*radius*/
--hamtOlon_radius:0rem 6rem 6rem 0rem;
--baiguullagiin_radius:6rem 0rem 0rem 6rem;
--bolomjuudBackgroundz_radius: 5% 5% 10% ;
--shalgaruulaltiin_margin:1.5% 0 1.5% 0;
/*size*/
--padding_top:7rem;
--fond_size:2rem;
--circle_size:5.6rem;
--shalgaruulalt_img_top:-2rem;
--Equipment-img_bairlal:13%;
--Equipment-text_bairlal:5%;
}

