@import url('./root.css');
*{
    padding: 0;
    margin: 0;
}
main{
    /*neg mor bvhii 20/80 haricaatai 2 baganad huvaasan*/
    display: grid;
    grid-template-columns: 20% 80%;
}
/*zurag*/
.picture{
    text-align: right;
    /*backgrouund zurag ni centerlene*/
    background-image: url('../sanalHuselt/zairmag_back.png');
    background-position:center;
}
/*form heseg*/
.contain{
    font-family: var(--inter);
    /*svvder zvvn tiishee unasan baina*/
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
    padding-bottom:12%;
}
.form_contain{
    width: fit-content;
    margin: auto auto;
    margin-top: 5%;
}
/*garchig*/
.contain p{
    font-weight:100;
    font-size:1.5rem;
    font-family: var(--nunito);
}
.contain h4{
    font-size: 3rem;
    font-weight:300;
    color:#005CA9;
    font-family: var(--nunito);
}
.contain h4>span{
    color:#FF4C00;
}
/*formuud*/
.contain form fieldset{
    width: 100%;
    border: none;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
}
/*icon*/
.contain form fieldset i{
    font-size: 2.5rem;
    width: 5rem;
    color: rgba(0, 92, 169, 1);
}
/*bichih talbar-iin css*/
.contain form fieldset .input{
    border:none;
    border-bottom:0.1rem solid #0098DA;
    padding: 1rem 0.7rem 0.7rem 0.7rem;
    font-size: 1rem;
    font-family: var(--nunito);
    width: 100%;
}
.contain form fieldset .input::placeholder{
    /*input deer daraad bichihed harahgdah css*/
    font-size: 1rem;
    font-weight: 100;
}
/*ilgee tovch*/
.button{
    background-color:rgba(0, 92, 169, 1);
    border: none;
    border-radius: 30px;
    padding:0.6rem 1.5rem;
    color: white;
    font-size: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 15%;
    float: right;
}
.button>i{
    margin-left: 0.8rem;
}
.button:hover{
    opacity:40%;
}

@media(max-width:900px){
    html{
        font-size: 70%;
    }
    main{
        grid-template-columns: 40% 60%;
    }
    .picture{
        background-size: 100% auto;
    }
    /*header jijigdej baisan tul tomruulav*/
    header{
        font-size: 150%;
    }
}
@media(max-width:636px){
    /*zurag bolon formiin zaig zov tencverjvvleh*/
    .picture{
        background-size: auto 100%;
    }
    html{
        font-size: 60%;
    }
    main{
        grid-template-columns: 35% 65%;
    }
}

@media(max-width:418px){
    html{
        font-size: 45%;
    }
    /*zurrgaa haragdahgvi bolood main-ee 1 bagana 1mor bolgono*/
    .picture{
        display: none;
    }
    .contain{
        padding-bottom:20%;
    }
    main{
        grid-template-columns: 100%;
        grid-template-rows: auto 30%;
    }
}
